<!DOCTYPE html>
<html lang="en" ng-app="homework">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Developer homework</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('angular/app/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>Test your english</h1>
    </div>
    <div ng-view></div>
</div>

<script src="{{ asset('angular/app/bower_components/angular/angular.min.js') }}"></script>
<script src="{{ asset('angular/app/bower_components/angular-route/angular-route.min.js') }}"></script>
<script src="{{ asset('angular/app/homework.js') }}"></script>
<script src="{{ asset('angular/app/utils.js') }}"></script>
<script src="{{ asset('angular/app/view1/view1.js') }}"></script>
</body>
</html>
